body {
    background-color: white;
    color: black;
}

@media (prefers-color-scheme: dark) {
    body {
            background-color: #121212;
            color: white;
    }
}

.card {
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}