body {
  background-color: white;
  color: black;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: white;
  }
}

/* Верхняя панель */
.topbar {
  border-bottom: 3px solid #0fc8d2;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Навигация */
.nav-link,
.navbar-brand {
  position: relative;
  color: inherit;
  text-decoration: none;
  padding-bottom: 4px;
  transition: color 0.3s ease;
  margin: 0 10px;
  white-space: nowrap;
  font-size: 16px;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: currentColor;
  transition: width 0.3s ease;
  border-radius: 2px;
}

.nav-link:hover::after,
.nav-link:focus::after {
  width: 100%;
}

.nav-link:hover,
.nav-link:focus {
  color: #07dad6b7;
}

/* Кнопка корзины */
.cart {
  width: 50px;
  height: 50px;
  border: transparent;
  border-radius: 50%;
  background: transparent;
  transition: transform 0.1s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  padding: 15px;
  position: relative;
  margin-left: 10px;
}

.cart:hover {
  transform: scale(1.1);
}

.cart__num {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #d62240;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 575.98px) {
  .topbar {
    padding: 5px 10px;
    flex-direction: column;
    align-items: stretch;
  }

  .nav-link,
  .navbar-brand {
    font-size: 14px;
    margin: 0 5px;
  }

  .cart {
    width: 40px;
    height: 40px;
    padding: 10px;
    margin-left: 5px;
  }

  .cart__num {
    width: 18px;
    height: 18px;
    font-size: 10px;
    top: 3px;
    right: 3px;
  }


  .dropdown-item {
    font-size: 14px;
    padding: 0.5rem 1rem;
  }
}


@media (min-width: 576px) and (max-width: 767.98px) {
  .topbar {
    padding: 8px 15px;
  }

  .nav-link,
  .navbar-brand {
    font-size: 15px;
    margin: 0 8px;
  }

  .cart {
    width: 45px;
    height: 45px;
    padding: 12px;
  }

  .cart__num {
    width: 19px;
    height: 19px;
    font-size: 11px;
  }
}


@media (min-width: 992px) {
  .topbar {
    padding: 10px 25px;
  }
}
