body {
  background-color: white;
  color: black;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: white;
  }
}

.topbar {
  border-bottom: 3px solid #0fc8d2; /* Цвет линии */
}

.nav-link {
  position: relative;
  color: inherit;
  text-decoration: none;
  padding-bottom: 4px;
  transition: color 0.3s ease;
}

.navbar-brand{
  position: relative;
  color: inherit;
  text-decoration: none;
  padding-bottom: 4px;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: currentColor;
  transition: width 0.3s ease;
  border-radius: 2px;
}

.nav-link:hover::after,
.nav-link:focus::after {
  width: 100%;
}

.nav-link:hover,
.nav-link:focus {
  color: #07dad6b7;
}

.cart {
    width: 50px;
    height: 50px;
    border: transparent;/* solid rgba(255, 255, 255, 0);*/
    border-radius: 50%;
    background: transparent;
    /*background-color: #364364; */
    transition: 0.1s;
    cursor: pointer;
    /* position: fixed; /* Фиксированное расположение */
   /* top: 50px; /* в правом верхнем углу */
    /*right: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    padding: 15px;
    /* box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1); */
  }
  
  /* Увеличиваем кнопку при наведении на нее */
  .cart:hover {
    transform: scale(1.1);
  }
  
  /* Стилизуем счетчик товаров */
  .cart__num {
    position: relative;
    background-color: #d62240;
    text-decoration: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    top: -20px;
    left: -20px;
  }

  .cart__image{
      border-radius: 50%;
  }

  .link {
    text-decoration: none;
  }